*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

main-nav{
	bottom: 0;}

.top-main-nav{
	
	width: auto;
	height: 45px;
	background-color: rgb(49,109,195);
}

.top-nav{

	/*border: 1px solid;*/
	width: 1366px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}

/*-------------------Social Icons-------------------*/

.top-nav ul{

	float: left;
}

.top-nav ul li{

	float: left;
	list-style: none;
	margin-top: 11px; 
}

.fb{
	margin-left: 25px;
	height: 17px;
}

.twitter{

	height: 17px;
	margin-left: 25px;
}

.insta{

	height: 17px;
	margin-left: 25px;
}

.yt{

	height: 17px;
	margin-left: 25px;
}

.wp{

	height: 28px;
	margin-left: 25px;
	margin-top: -5px;
	float: left;
}

/*-------------------Social Icons End-------------------*/

.main-text{

	line-height: 42px;
	margin-left: 150px;
	float: left;
	color: white;
	font-family: verdana;
	font-size: 14px;

}

.buttons{

	float: left;
	margin-left: 80px;
	margin-top: 8px;
}

.btn{

	/*float: left;*/
	margin-left: 20px;
	/*line-height: 5px;*/
	height: 28px;
	width: 78px;
	font-size: 12px;
	padding: 5px;
}

.btn1{

	/*float: left;*/
	margin-left: 5px;
	/*line-height: 5px;*/
	height: 28px;
	width: 85px;
	font-size: 12px;
	padding: 5px;
}

.btn2{

	/*float: left;*/
	margin-left: 5px;
	/*line-height: 5px;*/
	height: 28px;
	width: 90px;
	font-size: 12px;
	padding: 5px;
}


/* .second{
	background-color: yellow;
	width: auto;
	height: 50px;
} */

.logo{
	padding: 0px;
	float: left;
	margin-left: 20px;
}

.menu-bar{
	background-color: rgb(247,248,250);
	width: auto;
	text-align: center;
	height: 50px;

}

.menu-bar ul{
	display: inline-flex;
	list-style-type: none;

}

.menu-bar ul li{

	width: 115px;
	margin: 3px;
	padding: 2mm;
}

.menu-bar a{

	text-decoration: none;
}




.active,.menu-bar ul li:hover{

	background-color: rgb(48, 112, 250);
	border-radius: 5px;
	margin-left: -10;
	font-style: none;	
}

.submenuabout{
display: none;


 
	z-index: 100;
  

}


	
.menu-bar ul li:hover .submenuabout{
	background:whitesmoke;
	display: block;
	 position:absolute;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-left:-12px;
	font-family: Arial, Helvetica, sans-serif;
	 
}
.menu-bar ul li:hover .submenuabout ul{
	display: block;
	
}

.menu-bar ul li:hover .submenuabout ul li{
	width: auto;
	padding: 10px;
	border-bottom: 1px dotted yellow;
	border-radius: 0px;
	text-align: left;
}

.menu-bar ul li:hover .submenuabout ul li:last-child{
	border-bottom: none;
}

.menu-bar ul li:hover .submenuabout ul li a:hover{
	color: white;
}


@keyframes slideshow {
	10% {left: 0;}
	20% {left: 0;}
	30% {left: -100%;}
	40% {left: -100%;}
	50% {left: -200%;}
	60% {left: -200%;}
	70% {left: -300%;}
	80% {left: -300%;}
	90% {left: -400%;}
	100% {left: -400%}
}


#slider{overflow:hidden;width:100%; height: 80vh; margin:-3px auto; border: 5px solid transparent;border-radius: 10px;}
#slider figure img{width:20%;float:left;}
#slider figure{position:relative;width:500%;margin:0;left:0;text-align:left;animation:10s slideshow infinite}

@media screen and (max-width: 767px) {#slider {overflow: hidden; width: 100%; margin: 0 auto;}}


.tcontainer {
	width: 100%;
	overflow: hidden; /* Hide scroll bar */
  }
   
  /* MIDDLE CONTAINER */
  .ticker-wrap {
	width: 60%;
	padding-left: 100%; /* Push contents to right side of screen */
	background-color: #eee;
  }
  
  /* INNER CONTAINER */
  @keyframes ticker {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-100%, 0, 0); }
  }
  .ticker-move {
	display: inline-block;
	white-space: nowrap;
	padding-right: 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: ticker;
	animation-duration: 20s;
	color:white;
	background-color:rgba(16, 16, 241, 0.897);
  }
  .ticker-move:hover{
	animation-play-state: paused; /* Pause scroll on mouse hover */
  }
  
   .ticker-item{
	display: inline-block; /* Lay items in a horizontal line */
	padding: 0 2rem;
  }


  .counter{
	margin-top: 70px;
	width: 100%;
	height: 45vh;
	background-color: rgb(39,85,233);
  }

.mainbox{
	
	width: 80%;
	height:50vh;
	margin: 0 auto;
}
